{% extends "base.html" %}

{% block title %}О нас - Ангарский политехнический техникум{% endblock %}

{% block content %}
<h1>О нас</h1>
<p>Ангарский политехнический техникум — это учебное заведение, которое обеспечивает качественное профессиональное образование. Наша миссия — подготовка специалистов, которые будут востребованы на рынке труда и смогут внести значимый вклад в развитие общества.</p>
<p>Мы предлагаем разнообразные программы обучения, которые охватывают различные области знаний и навыков. Наши преподаватели — это квалифицированные специалисты, которые стремятся передать свой опыт и знания студентам.</p>
<div class="row">
    <div class="col-md-4">
        <img src="{{ url_for('static', filename='images/image7.jpg') }}" alt="Изображение 1" class="img-fluid">
    </div>
    <div class="col-md-4">
        <img src="{{ url_for('static', filename='images/image8.jpg') }}" alt="Изображение 2" class="img-fluid">
    </div>
    <div class="col-md-4">
        <img src="{{ url_for('static', filename='images/image9.jpg') }}" alt="Изображение 3" class="img-fluid">
    </div>
</div>
{% endblock %}