{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.last_name.label }} {{ form.last_name(size=20, class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.first_name.label }} {{ form.first_name(size=20, class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.patronymic.label }} {{ form.patronymic(size=20, class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.birthday.label }} {{ form.birthday(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.subject.label }} {{ form.subject(size=20, class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.education.label }} {{ form.education(size=20, class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.experience.label }} {{ form.experience(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.phone.label }} {{ form.phone(size=20, class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.email.label }} {{ form.email(size=20, class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
    <a href="{{ url_for('teachers') }}" class="btn btn-secondary">Назад</a>
{% endblock %}